@model IEnumerable<Tasksample.Models.Customerdetails>

@{
    ViewData["Title"] = "List";
}



<div class="container-fluid mt-5">
    <div class="d-flex justify-content-between">
        <h2 class="mb-4">Customer Details</h2>

        <a asp-controller="Customer" asp-action="Create" class="btn btn-primary h-50"><i class="fa-solid fa-plus"></i> Create New Account</a>

    </div>
</div>


    <!-- Bootstrap card -->
    <div class="card">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
               <thead>
  
            <th>
                @Html.DisplayName("Edit")
            </th>
               <th>
                @Html.DisplayNameFor(model => model.Id)
               </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
     
        </tr>
       </div>
       </div>
       </div>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 <a asp-controller="Customer" asp-action="Update" asp-route-id="@item.Id"  method="get" class="btn btn-outline-primary"><i class="fa fa-folder" aria-hidden="true"></i>

                 </a>
           </td>
                <th>
                  @Html.DisplayFor(modelItem => item.Id)
               </th>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @if (item.IsActive)
                 {
                     <button class="btn btn-sm btn-success w-100 my-auto">Active</button>
                 }
                 else
                  {
                     <button class="btn btn-sm btn-danger w-100 my-auto">InActive</button>
                  }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
                               
                @* <td class="d-flex mt-4"> *@
                    @* @Html.ActionLink("Edit", "Update", new { id = item.Id }) | *@
                 @*  @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                      @Html.ActionLink("Delete", "Delete", new { id = item.Id }) *@
             <td class="d-flex px-2">
                <a asp-controller="Customer" asp-action="Delete" asp-route-id="@item.Id" method="get" class="btn btn-outline-primary mr-2"><i class="fa fa-trash" aria-hidden="true"></i></a>&nbsp;
                <a asp-controller="Customer" asp-action="Details" asp-route-id="@item.Id" method="get" class="btn btn-outline-primary ml-2"><i class="fa fa-info" aria-hidden="true"></i></a>            
            </td>
        </tr>
       }
    </tbody>
</table>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@*pagenation*@
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <nav>
            <ul class="pagination justify-content-front">
                <li class="page-item ">
                    <a class="page-link text-black" asp-route-pageNumber="1">
                
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-black" href="">
                      
                    </a>
                </li>
                <li class="page-item ">
                    <a class="page-link text-black" href="">1</a>
                </li>
                <li class="page-item ">
                    <a class="page-link text-black" ashref="">2</a>
                </li>
                <li class="page-item ">
                    <a class="page-link text-black" href="">3</a>
                </li>
                <li class="page-item ">
                    <a class="page-link text-black" href="">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-black" href="">
                        <span>Next</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link text-black" href="">
                        <span>Last</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>


